/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 17 de jul. de 2026, 21:03:52
    Author     : Ryzen7RTX3050
*/
*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}

body{

background:#f8f6f2;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 60px;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

header h1{

color:#8a6db5;

}

header a{

text-decoration:none;

color:#8a6db5;

font-weight:bold;

}

main{

width:80%;

margin:40px auto;

}

.topo{

background:#8a6db5;

color:white;

padding:30px;

border-radius:18px;

margin-bottom:40px;

}

.timeline{

border-left:5px solid #8a6db5;

padding-left:35px;

display:flex;

flex-direction:column;

gap:35px;

}

.evento{

display:flex;

align-items:flex-start;

gap:20px;

position:relative;

}

.bolinha{

width:20px;

height:20px;

background:#8a6db5;

border-radius:50%;

margin-left:-46px;

margin-top:10px;

}

.conteudo{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

flex:1;

transition:.3s;

cursor:pointer;

}

.conteudo:hover{

transform:translateX(8px);

}

.conteudo h3{

color:#6a5291;

margin-bottom:8px;

}

.conteudo p{

color:#666;

}

.novo{

margin-top:15px;

width:70px;

height:70px;

border:3px dashed #8a6db5;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

color:#8a6db5;

cursor:pointer;

transition:.3s;

}

.novo:hover{

background:#efe8fa;

}

